<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- 用户action -->
	<bean id="userAction" class="com.base.web.user.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService" />
		<property name="companyService" ref="companyService" />
		<property name="permissionService" ref="permissionService" />
	</bean>

	<!-- 功能action -->
	<bean id="functionAction" class="com.base.web.permission.action.FunctionAction"
		scope="prototype">
		<property name="functionService" ref="functionService" />
	</bean>

	<!-- 公司action -->
	<bean id="companyAction" class="com.base.web.company.action.CompanyAction"
		scope="prototype">
		<property name="companyService" ref="companyService" />
	</bean>

	<!-- 组织action -->
	<bean id="organizationAction" class="com.base.web.organization.action.OrganizationAction"
		scope="prototype">
		<property name="organizationService" ref="organizationService" />
		<property name="companyService" ref="companyService"></property>
	</bean>

	<!-- 角色action -->
	<bean id="roleAction" class="com.base.web.permission.action.RoleAction"
		scope="prototype">
		<property name="companyService" ref="companyService" />
		<property name="roleService" ref="roleService" />
		<property name="functionService" ref="functionService" />
		<property name="resourceService" ref="resourceService" />
		<property name="permissionService" ref="permissionService" />
	</bean>

	<import resource="applicationContext-lock-action.xml" />
</beans>

