<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- 开锁dao -->
	<bean id="unlockInfoDao" class="com.lock.unlockInfo.UnlockInfoDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 通话单dao -->
	<bean id="callbillDao" class="com.lock.callbill.CallbillDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 业务单dao -->
	<bean id="workorderDao" class="com.lock.workorder.WorkOrderImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>

